/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

h1 {
    border-top: 3px dotted green;
    border-bottom: 10px solid red;
    border-left: 2px solid yellow;
    border-right: 10px dotted black;
}

img{
    border: 3px solid black;
    border-radius: 10px;
    width: 32%;
    

}
h1{
    border: 2px solid red;
    padding: 33px;
    text-align: center;
    width: 30%;
    margin:50px auto ;

}